.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 60px;
    margin-right: 1rem;
    padding: 6px;
}

.header > div > a {
    color: rgba(0,0,0,.87);
}

.header > div > a:hover {
    text-decoration: underline;
}

.menu {
    padding: 0.5rem;
    cursor: pointer;
}

.menu:hover {
    background-color: rgba(60,64,67,.08);
    border-radius: 50%;
}
.menu > svg {
    width: 1.5rem;
    height: 1.5rem;
}

.user-logo {
    border-radius: 50%;
    cursor: pointer;
}